<!doctype html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - MyBlog</title>
    {% else %}
    <title>{{ title }} Welcom - MyBlog</title>
    {% endif %}
</head>
<body>
    <div>
        Myblog:
        <a href="{{url_for('index')}}">Home</a>
        {% if current_user.is_anonymous  %}
        <a href="{{url_for('login')}}">Login</a>
        {% else %}
        <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}

    </div>
    <hr>
    {% with messages = get_flashed_messages() %} <!-- with 生成一个变量对上下文-->
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
   {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

</body>
</html>